*
{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: black;
}

.flex-container
{
    background-color: gold;
    color: black;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.style
{
    text-align: center;
    font-size: 1.2rem;
    border: 3px solid black;
    padding: 8px 0px; 
    /*10px 10px */
    margin: 5px 2.5px;
    background-color:lightgoldenrodyellow;
    height: 1.3rem;
    width: 17%;
}
/* .name{
    color: brown;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
    margin: 15% 60% 0px 10%;
    font-size: 3rem;
} */
.grid{
    display:grid;
    grid-template-rows: 100px 400px;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
    "item1 item3"
    "item2 item3"
    ;
}
.item1{
    background-color: orange;
    grid-area: item1;
    
}
.item2{
    background-color: goldenrod;
    grid-area: item2;
}
.item3{
    background-color: bisque;
    grid-area: item3;
    /* display: flex; */
    /* border: 1px black solid; */
}
.button-container{
    display: flex;
    background-color: lemonchiffon;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width:100%;
    /* height: 700px; */
    color: white;
}
.button-container > h2{
    color: black;
    font-size: 3.5vw;
    text-align: center;
    margin: 0.5% auto 0px auto;
    padding: 20px;
    background-color: pink;
    width: 50vw;
    border-radius: 1rem;
    border: orange 10px double;
}
.button1{
    border: solid 1px black;
    background-color: orange;
    text-align: center;
    width: 100%;
    /* height: 100px; */
    margin: 0.5% 1% 0.5% 1%;
}
.button2{
    border: solid 1px black;
    width: 48.5%;
    background-color: orange;
    text-align: center;
    /* height: 200px; */
    margin: 0px 0% 0px 1%;
}
.button3{
    border: solid 1px black;
    text-align: center;
    width: 48.5%;
    background-color: orange;
    /* height: 200px; */
    margin: 0px 1% 0px 0%;
}
.button4{
    border: solid 1px black;
    text-align: center;
    width: 100%;
    background-color: brown;
    /* height: 100px; */
    margin: 0.5% 1% 0px 1%;
}
.me{
    margin: 4.5vh 10vw;
    /* margin: auto auto; */
}
.img1{
    width: 25.5vw;
    margin-left: 5vw;
}
.intro{
    padding: 3.5vh 0vw 0vh 0vw;
    font-size: 5vh;
    color: white;
    /* position: absolute; */
    /* top: 118vh; */
    /* left: 24vw; */
    width: 30vw;
    margin: 0vh 40%;
    /* border:1px black solid; */
}
.intro2{
    font-size: 3vh;
    /* position: absolute; */
    /* top: 125vh; */
    /* left: 45vw; */
    padding: 3vh;
    border: 3px black solid;
    background-color: lightskyblue;
    border-radius: 2rem;
    text-indent: 10vw;
    margin: 8vh 8vw;
    width: 42vw;
}
.background2{
    
    height: 67.2vh;
    background-image: url("pexels-nadi-lindsay-5859431.jpg");
    display:block;
    Background-size: cover;
    /* Background-position: center; */
    /* background-position: 0 0px; */
    /* background-repeat: no-repeat; */
}
h4{
    font-size: 2vw;
}
.button-container > h4{
    border: 1px black solid;
    font-size: 7vw;
}
@media only screen and (min-width: 1100px){
    /* .style{
        font-size: 20px;
    } */
    .background{
        height: 800px;
        background-image: url("me.jpg");
        display:block;
        Background-size: cover;
        Background-position: center;
        background-position: 0 0px;
        background-repeat: no-repeat;
    }
    .name{
        color:yellow;
        text-shadow: -1px 0 black, 0 1px black,
          1px 0 black, 0 -1px black;
        margin: 15% 60% 0px 10%;
        font-size: 3rem;
    }
}
@media only screen and (max-width: 1100px) {
    .style{
        /* font-size: 10px; */
    }
    .background{
        height: 600px;
        background-image: url("me.jpg");
        display:block;
        Background-size: cover;
        Background-position: center;
        background-position: 0 0px;
        background-repeat: no-repeat;
    }
    .name{
        color: orange;
        text-shadow: -1px 0 black, 0 1px black,
          1px 0 black, 0 -1px black;
        margin: 15% 60% 0px 10%;
        font-size: 2rem;
    }
    h2{
        font-size:30px;
    }
    h4{
        font-size:20px;
    }
}
@media only screen and (max-width: 700px) {
    .style{
        /* font-size: 10px; */
    }
    .background{
        height: 400px;
        background-image: url("me.jpg");
        display:block;
        Background-size: cover;
        Background-position: center;
        background-position: 0 0px;
        background-repeat: no-repeat;
    }
    .name{
        color: brown;
        text-shadow: -1px 0 black, 0 1px black,
          1px 0 black, 0 -1px black;
        margin: 15% 60% 0px 10%;
        font-size: 1rem;
    }
    h2{
        font-size:20px;
    }
    h4{
        font-size:15px;
    }
}